<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" connectionString="Server=tcp:taskserv.database.windows.net,1433;Database=ToDoTaskList_db;User ID=cs435@taskserv;Password=hello123!;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
    providerName="System.Data.SqlClient" />
</connectionStrings>